{% extends 'base.html' %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
    function getOfficeList() {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            ul.innerHTML = ''; // Очищаем список перед добавлением
            let totalCost = 0;

            for (let i = 0; i < office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                li.innerText = `${office.number}: ${office.tenant || 'свободен'} | Стоимость аренды: ${office.price} ₽`;

                const bookingButton = document.createElement('button');
                bookingButton.innerText = 'Зарезервировать';
                bookingButton.onclick = function () { booking(office.number) };

                const cancellationButton = document.createElement('button');
                cancellationButton.innerText = 'Освободить';
                cancellationButton.onclick = function () { cancellation(office.number) };

                styleButton(bookingButton, 'rgb(230, 240, 248)');
                styleButton(cancellationButton, 'rgb(220, 217, 248)');

                li.appendChild(bookingButton);
                li.appendChild(cancellationButton);
                ul.appendChild(li);

                const currentLogin = "{{ session.get('login') }}"; 
                if (office.tenant === currentLogin) {
                    totalCost += office.price;
                }
            }

            document.getElementById('total-cost').innerText = `Общая стоимость арендованных офисов: ${totalCost} ₽`;
        });
    }

    function booking(officeNumber) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'booking',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                handleError(data.error.code);
            } else {
                getOfficeList();
            }
        });
    }

    function cancellation(officeNumber) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'cancellation',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                handleError(data.error.code);
            } else {
                getOfficeList();
            }
        });
    }

    function handleError(code) {
        switch (code) {
            case 1:
                alert('Вы не авторизованы, пожалуйста, авторизуйтесь');
                break;
            case 2:
                alert('Офис уже арендуется');
                break;
            case 3:
                alert('Офис не арендован');
                break;
            case 4:
                alert('Вы не можете снять чужую аренду');
                break;
            case -32601:
                alert('Странная ошибка');
                break;
        }
    }

    function styleButton(button, color) {
        button.style.borderRadius = '10px';
        button.style.border = '1px';
        button.style.padding = '5px';
        button.style.margin = '5px';
        button.style.backgroundColor = color;
    }

    document.addEventListener('DOMContentLoaded', function () {
        getOfficeList();
    });
</script>
{% endblock %}

{% block main %}
    <h1>Список кабинетов</h1>
    <ul id="office-list"></ul>
    <p id="total-cost" style="font-weight: bold; margin-top: 20px;">Общая стоимость арендованных офисов: 0 ₽</p>
{% endblock %}

