{% extends "base.html" %}

{% block lab %} Лабораторная работа 9 {% endblock %}

{% block main %}
<style>
    .btn {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        background-color: rgb(98, 155, 139);
        border: none;
        border-radius: 5px;
    }
    
    .btn:hover {
        background-color: rgb(63, 114, 100);
    }
</style>
<h1>Подбор предпочтений</h1>
<form method="post">
    {% if preference == 'веселье' %}
        <label>Что вам нравится больше?</label><br>
        <input type="radio" id="toys" name="preference_n" value="плюшевые игрушки" required>
        <label for="toys">Плюшевые игрушки</label><br>
        <input type="radio" id="games" name="preference_n" value="настольные игры" required>
        <label for="games">Настольные игры</label><br>
    {% elif preference == 'сладости' %}
        <label>Что вам нравится больше?</label><br>
        <input type="radio" id="candies" name="preference_n" value="конфеты" required>
        <label for="candies">Конфеты</label><br>
        <input type="radio" id="cookies" name="preference_n" value="печенье" required>
        <label for="cookies">Печенье</label><br>
    {% elif preference == 'подарки' %}
        <label>Что вам нравится больше?</label><br>
        <input type="radio" id="tech" name="preference_n" value="технологии" required>
        <label for="tech">Технологии</label><br>
        <input type="radio" id="decor" name="preference_n" value="декор" required>
        <label for="decor">Декор</label><br>
    {% elif preference == 'еда' %}
        <label>Что вам нравится больше?</label><br>
        <input type="radio" id="cake" name="preference_n" value="торт" required>
        <label for="cake">Торт</label><br>
        <input type="radio" id="chocolate" name="preference_n" value="шоколад" required>
        <label for="chocolate">Шоколад</label><br>
    {% endif %}
    <input type="submit" value="Далее" class="btn">
</form>
{% endblock %}
