{% extends 'base.html' %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>{{ ticket_type }}</h1>
    <div class="ticket-container">
        <p><strong>ФИО:</strong> {{ name }}</p>
        <p><strong>Возраст:</strong> {{ age }} лет</p>
        <p><strong>Полка:</strong>
            {% if berth == 'lower' %}
                Нижняя
            {% elif berth == 'upper' %}
                Верхняя
            {% elif berth == 'upper_side' %}
                Верхняя боковая
            {% else %}
                Нижняя боковая
            {% endif %}
        </p>
        <p><strong>Бельё</strong> {{ 'Включено' if bed else 'Нет' }}</p>
        <p><strong>Багаж</strong> {{ 'Включено' if luggage else 'Нет' }}</p>
        <p><strong>Пункт выезда:</strong> {{ departure }}</p>
        <p><strong>Пункт назначения:</strong> {{ destination }}</p>
        <p><strong>Дата поездки:</strong> {{ date }}</p>
        <p><strong>Страховка:</strong> {{ 'Включено' if insurance else 'Нет' }}</p>
        <p><strong>Итоговая стоимость:</strong> {{ total_price }} &#8381;</p>
    </div>

    <style>
        .ticket-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid #ddd;
            padding: 20px;
            width: 400px;
            margin: 0 auto;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        p {
            font-size: 16px;
            margin: 10px 0;
            text-align: center;
        }
        h1 {
            text-align: center;
            font-size: 24px;
            color: #333;
        }
    </style>
{% endblock %}