body {
    color: maroon;
    margin: 0px;
    /* background-image: url("https://i.pinimg.com/564x/f2/bd/60/f2bd603b285613ec461756d4dd1f65ed.jpg") */
}

main {
    background-color: #ffffff;
    color: rgb(75, 95, 60);
    margin: 10px;
    padding: 30px;
    padding-block: 20px;
    border-radius: 10px;
}

header {
    background-color: maroon;
    color: white;
    margin: 0px;
    padding: 5px; 
}

footer {
    background-color: maroon;
    color: white;
    margin: 0px;
    padding: 5px; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: rgb(165, 245, 242);
    text-decoration: none;
}

a:link {
    color: rgb(197, 130, 130);
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: rgb(176, 125, 192);
    text-decoration: underline;
}

a:active {
    color: rgb(158, 151, 212);
}

.error {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}