{% extends "base.html" %}

{% block lab %}  Лабораторная работа 7 {% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>

<style>
    .modal {
        display: none;
        z-index: 100;
        box-shadow: 4px 4px 10px rgba(75, 75, 75, 0.568);
        color: aliceblue;
        background-color: maroon;
        width: 500px;
        left: 50%;
        top: 220px;
        margin-left: -200px;
        position: absolute;
        padding: 30px;
        line-height: 30px;
        border-radius: 20px;
    }
    .error-message {
        color: RED;
    }
    button {
        border: 2px solid rgb(217, 228, 248);
        padding: 6px 12px; 
        margin: 5px;
        border-radius: 7px;
        background-color: maroon;
        color: white; 
        cursor: pointer; 
        transition: background-color 0.3s;  

    button:hover {
        background-color: rgba(208, 155, 155, 0.725);  
    }
</style>    
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th colspan="2">Название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском языке:<br>
            <input type="text" id="title-ru">
        </label><br>

        <label>
            Название фильма на оригинальном языке:<br>
            <i>(если фильм русский, то оставьте поле пустым)</i><br>
            <input type="text" id="title">
        </label><br>

        <label>
            Год выпуска:<br>
            <input type="number" id="year">
        </label><br>

        <label>
            Описание:<br>
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>

        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>

{% endblock %}