{% extends "rgz/rgz.html" %}

{% block main %}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: cursive;
            padding-bottom: 100px;
            background-image: url("{{ url_for('static', filename='rgz/gerb1.png') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.95; 
        }
    </style>
    <h1>
        {% if is_edit %}
            Редактирование инициативы
        {% else %}
            Создание инициативы
        {% endif %}
    </h1>

    <form method="post">
        <div>
            <label>
                Заголовок
                <input 
                    type="text" 
                    maxlength="50" 
                    name="title" 
                    value="{{ initiative.title if initiative else '' }}" 
                    required>
            </label>
        </div>

        <div>
            <label>
                Описание
                <textarea name="text" required>{{ initiative.text if initiative else '' }}</textarea>
            </label>
        </div>

        {% if not current_user.is_admin %}
        <div>
            <label>
                <input type="checkbox" name="is_public" {{ 'checked' if initiative.is_public else '' }}>
                Сделать публичной 
            </label>
        </div>
        <div>
            Опубликованную инициативу невозможно будет изменить!
        </div>
        {% endif %}

        <button type="submit" style="font-family: cursive;">
            {% if is_edit %}
                Сохранить изменения
            {% else %}
                Создать инициативу
            {% endif %}
        </button>

        {% if error %}
            <div style="color: red; font-weight: bold;">{{ error }}</div>
        {% endif %}

        <div>
            <a href="/rgz/my_initiatives">Вернуться к моим инициативам</a>
        </div>
    </form>
{% endblock %}

