{% extends "rgz/rgz.html" %}

{% block main %}
<h1>Управление инициативами</h1>
<ol>
    {% for initiative in initiatives %}
        <li>
            <strong>{{ initiative.title }}</strong>
            <p style="word-wrap: break-word;">{{ initiative.text }}</p>
            <form method="get" action="/rgz/edit/{{ initiative.id }}" style="display: inline-block;">  
                <button type="submit">Редактировать</button>
            </form>
            <form method="post" action="/rgz/delete/{{ initiative.id }}" style="display: inline-block;">  
                <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить инициативу?');">Удалить</button>
            </form>
        </li>
    {% else %}
        <p>Нет инициатив.</p>
    {% endfor %}
</ol>
<div>
    <a href="/rgz">Вернуться на главную</a>
</div>
{% endblock %}
