{% extends "rgz/rgz.html" %}

{% block main %}
    <h1>Мои инициативы</h1>
    <ol>
        {% for initiative in initiatives %}
            <li style="max-width: 800px; margin: 0 auto; text-align: left;">  
                <p style="word-wrap: break-word;">{{ initiative.text }}</p>
                <div class="initiative-meta">
                    Автор: {{ initiative.user.login }} Дата публикации: {{ initiative.created_at.strftime('%d-%m-%Y') }}
                </div>
                <div>
                    <form method="get" action="/rgz/edit/{{ initiative.id }}" style="display: inline-block;">  
                        <button type="submit">Редактировать</button>
                    </form>
                    <form method="post" action="/rgz/delete/{{ initiative.id }}" style="display: inline-block;">  
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить статью?');">Удалить</button>
                    </form>
                </div>
            </li>
        {% else %}
            <p>У вас пока нет инициатив.</p>
        {% endfor %}
    </ol>
    
    <h2>Опубликованные инициативы</h2>
    <ol>
        {% for published in published_initiatives %}
            <li style="max-width: 800px; margin: 0 auto; text-align: left;">  
                <strong>{{ published.title }}</strong> 
                <p style="word-wrap: break-word;">{{ published.text }}</p> 
                <div class="initiative-meta">
                    Автор: {{ published.user.login }} Дата публикации: {{ published.created_at.strftime('%d-%m-%Y') }}
                </div>
                <div>
                    <form method="get" action="/rgz/edit/{{ published.id }}" style="display: inline-block;">  
                        <button type="submit">Редактировать</button>
                    </form>
                    <form method="post" action="/rgz/delete/{{ published.id }}" style="display: inline-block;">  
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить статью?');">Удалить</button>
                    </form>
                </div>
            </li>
        {% else %}
            <p>Нет опубликованных инициатив.</p>
        {% endfor %}
    </ol>

    <div>
        <a href="/rgz">Вернуться на главную</a>
    </div>
{% endblock %}