{% extends "lab8/lab8.html" %}

{% block lab %} Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Вход в систему</h1>
    <form action="/lab8/login" method="post">
        <div style="margin-bottom: 10px;">
            <label>
                Логин: <input type="test" name="login" value="{{ login | default('') }}"> 
            </label>
        </div>

        <div style="margin-bottom: 10px;">
            <label>
                Пароль: <input type="password" name="password"> 
            </label>
        </div>
        <div style="color: red; font-weight: bold;">
            {{ error }}
        </div>
        <button type="submit">Вход</button>
        <div>
            <a href="/lab8">Вернуться в меню</a>
        </div>
    </form>
{% endblock %}